html {
	scroll-behavior: smooth;
}

body {
	background: #080808;
	color: #fff;
	font-family: Arial, sans-serif;
}

#metronomeUI {
	text-align: center;
	margin-top: 4vh;
	height: 96vh;
}

#metronomeUI>div {
	margin-top: 5vh;
}

h1 {
	font-size: 50px;
}

a, a:hover, button, button:hover {
	transition: 100ms;
}

a {
	color: #FFCB05;
}

a:hover {
	color: #ffdb4d;
}

#metInfo b {
	font-family: monospace, monospace;
	color: #e24763;
}

#btnContainer label {
	display: block;
	box-sizing: border-box;
	width: 0;
	height: 74px;
	border-color: transparent transparent transparent #fff;
	transition: 100ms all ease;
	cursor: pointer;
	border-style: double;
	border-width: 0px 0 0px 60px;
	margin: 0 auto;
}

#btnContainer input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

#btnContainer input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 37px 0 37px 60px;
}

#BPM {
	width: 50vw;
	min-width: 300px;
	-webkit-appearance: none;
	background: transparent;
}

#BPM::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: #e24763;
	cursor: pointer;
	margin-top: -3px;
}

#BPM::-moz-range-thumb {
	height: 25px;
	width: 25px;
	background: #e24763;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

#BPM::-ms-thumb {
	height: 25px;
	width: 25px;
	background: #e24763;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

#BPM::-webkit-slider-runnable-track {
 	width: 100%;
	height: 5px;
	cursor: pointer;
	background: #fff;
	border-radius: 5px;
}

#BPM::-moz-range-track {
	width: 100%;
  	height: 5px;
	cursor: pointer;
	background: #fff;
	border-radius: 5px;
}

#BPM::-ms-track {
	width: 100%;
  	height: 5px;
	cursor: pointer;
	background: #fff;
	border-radius: 5px;
}

#BPMControls button {
	margin: 10px 0;
	margin-left: 0.5vw;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 20px;
}

#BPMControls button, #aboutBtn, #inspireBtn, #scrollUpBtn {
	border: 2px solid #fff;
	color: #fff;
	background: #080808;
}

#BPMControls button:hover, #aboutBtn:hover, #inspireBtn:hover, #scrollUpBtn:hover {
	color: #080808;
	background: #fff;
}

#metInfo {
	margin-bottom: 10px;
	font-size: 25px;
}

#keySig, #numOctaves, #instrument {
	margin-top: 10px;
}

label {
	font-size: 20px;
}

select {
	font-size: 18px;
}

#navBtnGroup {
	text-align: center;
	padding-top: 3vh;
}

#navBtnGroup a, #scrollUpBtn {
	padding: 20px;
	appearance: button;
	text-decoration: none;
}

#aboutBtn {
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	border-right: none;
}

#inspireBtn {
	margin-left: -5px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
}

.section {
	margin: 2vw;
}

.section {
	font-size: 20px;
	line-height: 1.8;
}

.section b {
	color: #FFCB05;
}

.question {
	color: #ff4b6f;
	font-size: 30px;
}

.subhead {
	font-size: 50px;
	margin-bottom: 2vw;
}

#bottom {
	margin: 40px 0;
	text-align: center;
}

#scrollUpBtn {
	border-radius: 35px;
}

@media(max-width: 500px) {
	h1 {
		font-size: 35px;
	}

	.subhead {
		font-size: 40px;
	}
}