html {
	scroll-behavior: smooth;
}

body {
	background-color: #1f1a24;
	color: #dad9d4;
	font-family: Arial, sans-serif;
}

#metronomeUI {
	text-align: center;
	margin-top: 10vh;
	height: 90vh;
}

#metronomeUI>div {
	margin-top: 5vh;
}

h1 {
	font-size: 50px;
}

a, a:hover, button, button:hover {
	transition: 100ms;
}

#credits {
	color: #FFCB05;
}

#credits:hover {
	color: #ffdb4d;
}

#btnContainer label {
	display: block;
	box-sizing: border-box;
	width: 0;
	height: 74px;
	border-color: transparent transparent transparent #dad9d4;
	transition: 100ms all ease;
	cursor: pointer;
	border-style: double;
	border-width: 0px 0 0px 60px;
	margin: 0 auto;
}

#btnContainer input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

#btnContainer input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 37px 0 37px 60px;
}

#BPM {
	width: 50vw;
	min-width: 300px;
}

#BPMControls button {
	margin: 10px 0;
	margin-left: 0.5vw;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 20px;
	color: #dad9d4;
	background-color: #2a4949;
	border: none;
}

#BPMControls button:hover {
	color: #1e2227;
	background-color: #557574;
}

#BPMControls h2 {
	margin-bottom: 10px;
}

#keySig {
	margin-top: 10px;
}

#navBtnGroup {
	text-align: center;
	padding-top: 5vh;
}

#navBtnGroup a {
	padding: 20px;
	border: none;
	appearance: button;
	text-decoration: none;
}

#aboutBtn {
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	color: #1f1a24;
	background-color: #82a4a3;
}

#inspireBtn {
	margin-left: -5px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	color: #fff;
	background-color: #557574;
}

#aboutBtn:hover {
	background-color: #dad9d4;
}

#inspireBtn:hover {
	background-color: #2a4949;
}

@media(max-width: 434px) {
	h1 {
		font-size: 40px;
	}
}