html {
	scroll-behavior: smooth;
}

body {
	background-color: #1f1a30;
	color: #dad9d4;
	font-family: Arial, sans-serif;
}

#metronomeUI {
	text-align: center;
	margin-top: 4vh;
	height: 96vh;
}

#metronomeUI>div {
	margin-top: 5vh;
}

h1 {
	font-size: 50px;
}

a, a:hover, button, button:hover {
	transition: 100ms;
}

button:hover, a[role="button"]:hover {
	box-shadow: 0 0 20px #000008;
}

a {
	color: #FFCB05;
}

a:hover {
	color: #ffdb4d;
}

#metInfo b {
	font-family: monospace, monospace;
}

#btnContainer label {
	display: block;
	box-sizing: border-box;
	width: 0;
	height: 74px;
	border-color: transparent transparent transparent #dad9d4;
	transition: 100ms all ease;
	cursor: pointer;
	border-style: double;
	border-width: 0px 0 0px 60px;
	margin: 0 auto;
}

#btnContainer input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

#btnContainer input[type="checkbox"]:checked + label {
  border-style: solid;
  border-width: 37px 0 37px 60px;
}

#BPM {
	width: 50vw;
	min-width: 300px;
}

#BPMControls button {
	margin: 10px 0;
	margin-left: 0.5vw;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 20px;
	color: #dad9d4;
	background-color: #2a4949;
	border: none;
}

#BPMControls button:hover {
	color: #1e2227;
	background-color: #557574;
}

#metInfo {
	margin-bottom: 10px;
	font-size: 25px;
}

#keySig, #numOctaves, #instrument {
	margin-top: 10px;
}

label {
	font-size: 20px;
}

select {
	font-size: 18px;
}

#navBtnGroup {
	text-align: center;
	padding-top: 3vh;
}

#navBtnGroup a, #scrollUpBtn {
	padding: 20px;
	border: none;
	appearance: button;
	text-decoration: none;
}

#aboutBtn {
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	color: #000;
	background-color: #82a4a3;
}

#inspireBtn {
	margin-left: -5px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	color: #fff;
	background-color: #557574;
}

#aboutBtn:hover {
	background-color: #dad9d4;
}

#inspireBtn:hover {
	background-color: #2a4949;
}

.section {
	margin: 2vw;
}

.section p, .section b, .section i {
	font-size: 20px;
	line-height: 1.8;
}

.section b {
	color: #FFCB05;
}

.section i {
	color: #81e8dd;
}

.subhead {
	font-size: 50px;
	margin-bottom: 2vw;
}

#bottom {
	margin: 40px 0;
	text-align: center;
}

#scrollUpBtn {
	border-radius: 35px;
	color: #fff;
	background-color: #2a4949;
}

#scrollUpBtn:hover {
	background-color: #557574;
}

@media(max-width: 500px) {
	h1 {
		font-size: 35px;
	}

	.subhead {
		font-size: 40px;
	}
}